html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.todo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

ul li {
  list-style: none;
}


ul {
  max-height: 470px; 
  overflow-y: auto;
}

.reset {
  margin: 15px;
  width: 50%;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #cc0000;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
}

form label {
  width: 100%;
  display: flex;
  justify-content: center;
}

form input {
  margin: 0 20px;
  padding: 10px 30px;
  border-radius: 10px;
  min-width: 50%;
  font-weight: bold;
  font-size: 1.1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

form .task {
  color: #fff;
  background-color: #008f8c;
}

.concluida {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.concluida::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(180, 180, 180, 0.644); 
  z-index: 1;
  pointer-events: none;
  border-radius: 4px; 
}


.concluida * {
  position: relative;
  z-index: 2;
}

.concluida .titulo {
  text-decoration: line-through;
  opacity: 0.5;
}

.a-definir {
  background: linear-gradient(135deg, #286480, #235369);
  color: #eceff1; 
}

.alta-prioridade {
  color: black;
  font-weight: bold;
  background: linear-gradient(135deg, #ff4d4d, #b30000);
}

.média-prioridade {
  color: black;
  font-weight: bold;
  background: linear-gradient(135deg, #fff176, #fbc02d);
}

.baixa-prioridade {
  color: black;
  font-weight: bold;
  background: linear-gradient(135deg, #a8e6cf, #56ab2f);
}

/* Estilização geral para a lista (opcional) */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

li button {
  margin-left: 15px;
}

h1 {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.filtro {
  display: flex;
  min-width: 40%;
  justify-content: space-between;
}

.filtro select {
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: column;
}

ul li {
  width: 100%;

  padding: 15px 20px;
}

li * {
  margin: 10px;
}


button {
  padding: 5px 20px;
  font-weight: bold;
  background-color: #008f8c;
  color: #fff;
  border: solid 2px rgb(48, 48, 48);
  border-radius: 10px;
}


#botao-deletar {
  background-color: #cc0000;
  border: solid 2px rgb(48, 48, 48);
}